{% extends 'html/header.html' %}
{% block title %} Events {% endblock %}
{% block content %}
{% load static %}

<div class="bg-image" 
   style="background-image: url('https://cdn.hipwallpaper.com/i/52/74/QEP83w.jpg');
   height: 100%">

<section class="text-center">
   <h3 class="mb-5 text-white" ><strong>Children in Our NGO</strong></h3>
   <div class="row">
   {% for dest in dest %}
   <div class="col-lg-4 col-md-12 mb-4">
      <div class="card">
         <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="{{dest.img.url}}" class="img-fluid" class="rounded" alt="Cinque Terre" width="304" height="236" />
            <a href="#!">
               <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
         </div>
         <div class="card-body">
            <h5 class="card-title">{{dest.name}}</h5>
            <p class="card-text">
               {{dest.des}}
            </p>
            <a href="{% url 'form' %}" class="btn btn-primary">Please Donate</a>
         </div>
      </div>
   </div>
   {% endfor %}
</section>
{% endblock %}