{% extends 'html/header.html' %}
{% block content %}
{% load static %}
<html>
  
<body class="background-color">
  <div class="card-body mx-auto mt-9">

    <style>
        /* Make the image fully responsive */
  
        .carousel-inner img {
          width: 100%;
          height: 400px;
          display: block;
        }
          div.polaroid {
            width: 500%;
            background-color: dark;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                        0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 25px;
            }
            div.container {
              text-align: center;
              padding: 10px 20px;
            }

            .bordered {
              width: 800px;
              height: 500px;
              padding: 20px;
              border: 1px solid darkorange;
              border-radius: 8px;
            }
            .bordered1 {
              width: 370px;
              height: 500px;
              padding: 20px;
              border: 1px solid darkorange;
              border-radius: 8px;
            }
            .modal-dialog {
              width: 2000px;
              height:600px !important;
            }
    .modal-content {
        
        height: 85%;
        background-color:#BBD6EC;
    }        
    .modal-header {
        background-color: #337AB7;
        padding:16px 16px;
        color:#FFF;
        border-bottom:2px dashed #337AB7;
     }

          </style>
         
          <div id="demo" class="carousel slide " data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'images/logo1.png' %}" width="150%" height="100px">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/child.png' %}" width="150%" height="100px">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/child3.png' %}" width="150%" height="100px">
              </div>
              <div class="carousel-item">
                <img src="{% static 'images/health.png' %}" width="150%" height="100px">
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                 <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
    </div>
      <div class="container">
        <div class="row">
          <div class="card">    
                <h3>About Smiley Foundation</h3><br><br>
                <p>Smile Foundation, an NGO for poor child education, is an NGO in India directly benefitting <br>
                over 15,00,000 children and their families every year, through more than 400 live welfare <br>
                projects on education, healthcare, livelihood and women empowerment, in over 2000 remote<br> 
                villages and slums across 25 states of India.</p>

                <p>Education is both the means as well as the end to a better life: the means because it empowers<br>
                an individual to earn his/her livelihood and the end because it increases one's awareness on a <br>
                range of issues – from healthcare to appropriate social behaviour to understanding one's rights <br>
                – and in the process help him/her evolve as a better citizen.</p>
            
                <p>Doubtless, education is the most powerful catalyst for social transformation. But child education <br>
                cannot be done in isolation. A child will go to school only if the family, particularly the mother,<br>
                is assured of healthcare and empowered. Moreover, when an elder sibling is relevantly skilled to be<br>
                employable and begins earning, the journey of empowerment continues beyond the present generation.</p>
            </div>  
            <br>
          <div class="col-md-3"> 
            <div class="bordered1">
            <h2>Story of the Day</h2>
            <img style="border:10px solid black;" class="img2" src="https://fthmb.tqn.com/6VwLjysKzyDgsVIeEE1l9v6meHw=/5120x3492/filters:fill(auto,1)/scientist-looking-through-microscope-487041749-58d5504a5f9b584683dc6de6.jpg" alt="Pineapple" width="220" height="220">
              <p><h6>"Smile On Wheels doctors are helping villagers and urban slum dwellers in this hour of crisis. The doorstep healthcare unit of Smile Foundation is helping add a sigh of relief to their primary healthcare issues.</h6></p>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Read more</button>
            </div>
          </div>    
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4 class="modal-title" id="myModalLabel">Read</h4>
              </div>
              <div class="modal-body">
              <p>"Smile On Wheels doctors are helping villagers and urban slum <br>dwellers in this hour of crisis.
                 The doorstep healthcare unit of<br> Smile Foundation is helping add a sigh of relief to their<br>
                 primary healthcare issues.</p>

              <p>Earlier the villagers were in great distress due to the lockdown. They were unable to get
                 access to even basic medicines.<br> But with the start of operations much needed relief was <br>
                 provided. Counseling for better mental health, door to door <br> check-ups are being conducted 
                 regularly. We have to step<br> up. This is the time we can really help people by providing<br> 
                 them with what they need the most-healthcare"</p>
              
              <p>Dr. Sadan, Bilaspur.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>  

  <br><br>

  <div class="container" style="background-color: aquamarine;">
    <ul class="nav nav-pills nav-justified">
        <li class="row active"><a href="#">Education</a></li><hr>
        <li><a href="#">Health</a></li><hr>
        <li><a href="#">Livelihood</a></li><hr>
        <li><a href="#">Women Empowerment</a></li><hr>
    </ul>
    </div>
    <br>
    <div class="container" style="background-color: darkorange;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ul>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/child5.png' %}" alt="" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/welfare.png' %}" alt="" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/health2.png' %}" alt="" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/women1.png' %}" alt="" style="width:100%;">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/child2.png' %}" alt="" style="width:100%;">
        </div>
      </div>
  
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>  
      </body>
    </html>
    {% endblock %}