{% extends 'html/header.html' %}
{% block content %}
{% load static %}
<div class="row mt-3">
    <div class="container">
    <div class="">
     <!-- <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>{{count}}</b></span></h4> -->
   
     <table class="table table-striped">
     
      <tr>
      <th>ProductName</th>
      <th>Price</th>
      <th>Image</th>
      <th>Ordered Date</th>
      <th>Status</th>
      <th>Actions</th>
     
      </tr>
      {% for info in my %}
      <tr>
         <td>{{info.pname}}</td>
         <td><span class="price">Rs.{{info.price}}</span></td>
         <td><img src="{{info.im.url}}" width="40%" height="200px"></td>
         <td><span class="Date">{{info.date}}</span></td>
         {% if info.is_status == 1 %}
         <td>Delivered</td>
         {% elif info.is_status == 0 %}
         <td>Pending</td>
         {% elif info.is_status == 2 %}
         <td>Cancelled</td>
         {% endif %}
               <td>  <a href="{% url 'ordcancel' info.id %}" class="btn btn-info"> CANCEL</a></td>

       </tr>
       {% endfor %}
       <tr>
        <th>Total</th>
        <th><p><b>Rs.{{sum}}</b></p></th>
       </tr>
     </table>
     
</div>
</div>
  </div>
{% endblock %}