{% load static %}
<html>
  
  <body>
<nav class="navbar navbar-expand-lg bg-info navbar-dark nav-bk4">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'hm' %}">
     <img src="{% static 'images/smiley4.png' %}" alt="logo" style="width:27%;">
     <h5>Smiley Foundation</h5>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" border-bottom='1px' solid #000;>
     <!-- Links -->
 <ul class="navbar-nav">
   {% if not user.is_authenticated %}
   <li class="nav-item">
     <a class="nav-link" href="{% url 'hm' %}"><h6>Home</h6></a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="{% url 'at' %}">AboutUs</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="{% url 'details' %}">Dashboard</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="{% url 'ct' %}">Contact Details</a>
   </li>
     <li class="nav-item">
       <a class="nav-link" href="{% url 'lgo' %}">Login</a>
     </li>    

   {% else %}
    <li class="nav-item">
     <a class="nav-link" href="{% url 'hm' %}">Home</a>
   </li>
    <li class="nav-item">
     <a class="nav-link" href="{% url 'db' %}">Dashboard</a> 
   </li>
   <li class="nav-item">
     <a class="nav-link" href="{% url 'user' %}">Add_details</a> 
   </li>
   <li class="nav-item">
     <a class="nav-link" href="{% url 'view' %}">User_Details</a> 
   </li>
   <li class="nav-item">
    <a class="nav-link" href="{% url 'worker' %}">Worker</a> 
  </li>
   <li class="nav-item">
    <a class="nav-link" href="{% url 'worker_details' %}">Worker_Details</a> 
  </li>
   <li class="nav-item">
     <a class="nav-link" href="{% url 'gallary' %}">Gallary</a> 
   </li>
   <li class="nav-item">
     <a class="nav-link" href="{% url 'events' %}">Charity_details</a> 
   </li>
   
 <li class="dropdown">
   <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
     {{user.username}}
   </a><i class="bi bi-chevron-down"></i>
   <div class="dropdown-menu">
     <a class="dropdown-item" href="{% url 'cg' %}">Change Password</a>
     <a class="dropdown-item" href="{% url 'prf' %}">Profile</a>
     <a class="dropdown-item" href="{% url 'log' %}">Logout</a>

   </div>
</li>
{% endif %}
</ul>
</div>
</nav>   
</body>
</html>
