{% extends 'html/header.html' %}
{% block title %}Uer Data{% endblock %}
{% block content %}
<div class="card col md-7">
		<h3 class="p-3 bg-danger text-center text-light mt-3">User details</h3>
		<table class="table table-hover">
			<tr class="bg-dark text-white">
				<td> sno</td>
				<td>Name</td>
				<td>Qualification</td>
				<td>phoneno</td>
				<td>Email</td>
				<td>Gender</td>
			</tr>
			{% for i in wd %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{i.firstname}}</td>
				<td>{{i.study}}</td>
				<td>{{i.phno}}</td>
				<td>{{i.Email}}</td>
				<td>{{i.gender}}</td>

				{% endfor %}
		</table>
</div>
{% endblock %}